################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChinmayeePolicy/.vs/ChinmayeePolicy/v15
/ChinmayeePolicy/ChinmayeePolicy/bin/Release
/ChinmayeePolicy/ChinmayeePolicy/Properties
/ChinmayeePolicy/ChinmayeePolicy/obj
