################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChinmayeePolicy/.vs/ChinmayeePolicy/v15
